

@media screen and (max-width:1029px) {
    .nav-desktop{
        display: none;
    }
    .nav-mobile{
        display: flex;
    }
    .main-text{
        margin: 30% auto;
        line-height: 1.5;
    }
    .main-text h1{
        font-size: 40px;
        
    }
    .links{
        padding-left: 33%;
    }
    .links li{
        list-style: none;
        
        
    }
    .about-content{
        display: flex;
        height: 500px;
        width: 100%;
        /* margin: 0 auto; */
    }
    .about{
        display: block;
        display: flex;
    }
    .about-img img{
        height: 500px;
    }
    .about-text h1{
        padding: 20px 0;
    }
    .about-text p{
        text-align: justify;
        /* padding-left: 30px; */
        font-size: 17px;
    }
    
    
    .footer-container{
        height: 550px;
        
    }
    .footer-text{
        margin: 0 8%;
    }
    .select-menu{
        /* border: 3px solid blue; */
        margin-left: 0px;
    }
    .select-menu h3{
        padding-top: 20px;
    }
    .contact{
        margin: 0px;
        /* margin-left: 10%; */
    }
    .contact h3{
        color: rgb(7, 179, 247);
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 0px;
        
    
    }
    .icons li{
        list-style: none;
        border: 3px solid rgb(7, 179, 247);
        padding: 5px 6px;
        margin-left: 5px;
        border-radius: 50%;
    }
    
    /* .footer-container{
        background-color: black;
       
        
    } */
    
    
}
@media screen and (max-width:900px) {

    .service-image{
        display: grid;
        grid-gap:10px;
        grid-template-columns: repeat(2,1fr);
    }
    .service-items img:hover{
        transform: none;
    
    }
    .service{
        padding: 3% 5%;
        background: whitesmoke;
    }
    .footers{
        display: block;
        flex-direction: column;
        /* padding: 5% 0%; */
    }
    .footer-text{
        margin: 0px;
    }
    
    
}
@media screen and (max-width:500px) {

    .service-image{
        display: grid;
        grid-gap:10px;
        grid-template-columns: repeat(1,1fr);
    }
    .service-items img:hover{
        transform: none;
    
    }
    .service{
        padding: 3% 8%;
        background: whitesmoke;
    }
    .service-items img{
        height: 250px;
        padding: 10px 0;
        border-radius: 10px;
        box-shadow:0 4px 4px  rgb(14 55 54 / 15%);
        /* border: 0.5px solid rgb(120, 199, 230); */
        width: 100%;
    }
    
    
    
}

@media screen and (max-width:390px) {
   
    .main-text{
        margin: 70% auto;
        line-height: 1.5;
    }
    .main-text h1{
        font-size: 40px;
        
    }
    .service{
        padding: 3% 5%;
        background: whitesmoke;
    }
    
}
@media screen and (max-width:919px) {
    .about-img{
        display: none;
    }
    
    
}
@media screen and (max-width:476px) {
    .about-content{
        height: 600px;
    }
    
    
}
