@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato',sans-serif;
    
}
body{
    height: 800px;
    scroll-behavior: smooth;
}

.main{
    /* border: 2px solid green; */
    padding: 3% 10%;
    height: 100vh;
    width: 100%;
    background: var(--gradient),url("./img/nordwood-themes-BJx8whKXCgc-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.nav-mobile{
    position: fixed;
    display: none;
    height: 63px;
    width: 100%;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    background-color: rgb(7, 179, 247);
    z-index: 1;
   
}
.nav-brand{
    /* position: fixed; */
    display: flex;
    align-items: center;
    font-size: 25px;
    /* color: var(--white-color); */
    
    /* display: flex;
    align-items: center;
    color: #fff; */
}
.logo1{
    font-size: 15px;
    padding: 10px 0;
    color: white;
    padding-left: 12%;
}
    

.hamburger-container{
    /* border:2px solid rgb(87, 1, 87); */
    width: 3.43rem;
    height: 3.43rem;
    top:16px;
    height: 30px;
    display: flex;
    right: 30px;
    /* position: fixed; */
    border-radius: 50%;
    /* overflow: hidden; */
    /* background-color: purple; */
    align-items: center;
    z-index: 6;
    
}
.hamburger-container:hover .menu::before,
.hamburger-container:hover .menu::after{
    transition: transform 0.3s ease;
}
.hamburger-container:hover .menu::before{
    transform: translateY(-0.62rem);

}
.hamburger-container:hover .menu::after{
    transform: translateY(0.62rem);

}
.menu{
    width: 60%;
    height: 0.18rem;
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    transition: transform 0.4s ease;
    
}
.menu::before{
    content: '';
    width: 80%;
    height: 0.18rem;
    position: absolute;
    background-color: white;
    transform: translateY(-10px);
}
.menu::after{
    content: '';
    width: 80%;
    height: 0.18rem;
    position: absolute;
    background-color: white;
    transform: translateY(10px);
}
.showburger{
    /* background-color: black; */
}
.showburger .menu{
    background-color: transparent;
    transform: rotate(180deg);
}
.showburger .menu::before{
    transform: translateY(0px)  rotate(45deg) !important;
    background-color: white;
}
.showburger .menu::after{
    transform: translateY(0px)  rotate(-45deg) !important;
    /* transform:rotate(-45deg); */
    background-color: white;
}
.mobile-container{
    /* position: absolute; */
    transform: translateX(102%);
    width: 100%;
    height: 200px;
    /* text-align: center; */
    position: fixed;
    right: 0;
    top:80px;
    background-color: rgb(7, 179, 247);
    z-index:3;
    /* transition: all 0.5s ease; */
}
.mobile-links ul{
    list-style: none;
}
.showmobilelinks{
    
    /* display: block; */
    transform: translateX(0);

}
.mobile-links{
    /* background-color:red; */
    
    top:30%;
}
.mobile-links a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}
.mobile-links a:hover{
    background-color: white;
    color: rgb(7, 179, 247);
}
.mobile-links .active{
    background-color: white;
    color: rgb(7, 179, 247);
}


.nav-desktop{
    position: fixed;
    height: 50px;
    width: 100%;
    display: flex;
    z-index: 1;
    background-color: rgb(7, 179, 247);
}
.logo{
    font-size: 15px;
    padding: 10px 0;
    color: white;
    padding-left: 12%;
}
.desktoplink{
    margin-left: 35%;
}
.desktoplink ul{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
    /* margin: 0 60%; */
    
    /* position: fixed; */
    /* z-index: 1; */
}
.desktoplink li{
    list-style: none;
    margin-left: 30px;
    padding: 10px 0;
    /* left: 30px; */
}
.desktoplink ul li a{
    /* border: 2px solid red; */
    padding: 5px 10px;
    /* margin: 10px 0; */
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.desktoplink ul li a:hover{
    border-radius: 3px;
    transition: 0.5s;
    color: black;
    /* padding: 5px 20px; */
    

}
.container{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    height: 500px;
    width: 100%;
}

.main-text{
    position: relative;
    margin: 20% auto;
    line-height: 1.5;
    text-align: center;
}
.main-text h1{
    color: whitesmoke;
    font-size: 40px;
    
}
.main-text span{
    color:rgb(7, 179, 247) ;
}
.main-text h5{
    color: rgb(7, 179, 247);
    font-size: 20px;
}
.links{
    display: flex;
    padding: 10px 40%;
}
.links li{
    list-style: none;
    margin-left: 13px;
    
}
.links a{
    color:white;
}
.links li:hover{
    transform: translateY(-10px);
    transition: 0.5s;
    
}
.about{
    background-color: rgb(109, 204, 241);
}


.about-content{
    display: flex;
    height: 450px;
    width: 100%;
    /* margin: 0 auto; */
}
.about-text{
    /* height: 400px; */
    width: 50%;
    /* border: 3px solid red; */
}
.about-text h2{
    color: white;
    text-align: center;
    padding: 20px 0;
}
.about-text p{
    padding-bottom: 20px;
    text-align: justify;
    padding: 0 10px;
    font-size: 18px;
}

.about-img{
    /* height: 200px; */
    width: 50%;
}
.about-img img{
    height: 450px;
    width: 100%;
}
.service{
    padding: 4% 10%;
    background: white;
}
.service-image{
    display: grid;
    grid-gap:10px;
    
    grid-template-columns: repeat(3,1fr);
}
.service-text{
    text-align: center;
    padding: 10px 0;
}
.service-text h1{
    color: rgb(7, 179, 247);
    padding: 5px;
}
.service-items img{
    height: 250px;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow:0 4px 4px  rgb(14 55 54 / 15%);
    /* border: 0.5px solid rgb(120, 199, 230); */
    width: 100%;
}
.service-items h5{
    font-weight: 600;
}
.service-items img:hover{
    transform: translateY(-10px);
    transition: 0.5s;

}
.footer-container{
    background-color: black;  
}
.footer-container p{
    color: white;
    font-size: 10px;
    /* font-weight: 600; */
    text-align: center;
    letter-spacing: 1.5;
}
.footers{
    display: flex;
    padding: 5% 5%;
    height: 250px;
    width: 100%;
    
     /* justify-content: space-between; */
     align-items: center;
    /* border: 2px solid red; */
    
}
.footer-text{
    margin: 0 7%;
}
.footer-text h1{
    color: rgb(7, 179, 247);
    padding-bottom: 20px;
}
.footer-text h5{
    line-height: 1.7;
    font-size: 15px;
    color: white;
}
.select-menu{
    margin-right: 10%;
}
.select-menu h3{
    color: rgb(7, 179, 247);
    padding-bottom: 20px;

}
.select-menu li{
    list-style: none;
    /* text-align: center; */
}
.select-menu a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    line-height: 1.5;
    

}
.contact{
    margin: 0 10%;
    /* margin-left: 10%; */

}
.contact h3{
    color: rgb(7, 179, 247);
    padding-bottom: 20px;
    padding-left: 10px;
    

}
.icons{
    display: flex;
    
}
.icons li{
    list-style: none;
    border: 3px solid rgb(7, 179, 247);
    padding: 5px 6px;
    margin-left: 10px;
    border-radius: 50%;
}
.icons a{
    color: white;
}
.mail{
padding: 20px 10px;
}
.mail a{
    text-decoration: none;
    color: white;
}
